{
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "semi": ["error", "never"],
    "no-param-reassign": ["error", { "ignorePropertyModificationsFor": ["p"] }]
  }
}
