{
  "env": {
    "browser": true
  },
  "extends": "airbnb-base",
  "globals": {
    "p5": false
  },
  "rules": {
    "semi": ["error", "never"],
    "object-curly-newline": "off",
    "new-cap": ["error", {
      "newIsCapExceptions": ["p5"]
    }],
    "no-param-reassign": ["error", {
      "props": false
    }]
  }
}
