html,
body,
.container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #f9f8f4;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  display: block;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}
