<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Generative Art</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="container">
    <div class="grid">
      <% _.forEach(htmlWebpackPlugin.options.pages, function(page) { %>
        <a class="grid-item container link" href="<%- page.name %>">
          <img src="<%- page.name %>/thumbnail.png" alt="<%- page.title %>" />
          <span><%- page.title %></span>
        </a>
      <% }); %>
    </div>
  </div>
</body>
</html>
